[Desktop Entry]
Name=Balance Recorder
Exec=/home/spotta/Documents/balance_recorder/balance_recorder.py
Icon=/home/spotta/Documents/balance_recorder/scale_icon_blue.png
Terminal=true
Type=Application

